
__pycache__/
images
.vscode/
.VSCodeCounter/
checked_links.txt
*.log
out
__pycache__
.venv/
.env
.env_dev
env
cookies
.vscode/
# file images
/.backend/files/
/
#
.VSCodeCounter/
.pytest_cache/
gunicorn_config.py
liara.json
front-end/liara.json
backend/liara.json
backend/media/
backend/celerybeat-schedule
./backend/media/
backend/utils/backups/
./backups/
./backend/utils/backups/
.aider*
backups/
backend/backups/


